<?xml version="1.0" encoding="UTF-8"?>
<plugin id="lycwed-cordova-plugin-idfa" version="1.0.5" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>lycwed-cordova-plugin-idfa</name>
    <description>Phonegap, Cordova, Intel XDK plugin for Android to get Advertising Id Info using Google Play Services</description>
    <keywords>google,google play,advertising id,idfa,android,download,install</keywords>
    <author href="https://github.com/lycwed/lycwed-cordova-plugin-idfa">lycwed</author>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <license>MIT</license>
    <repo>https://github.com/lycwed/lycwed-cordova-plugin-idfa.git</repo>
    <issue>https://github.com/lycwed/lycwed-cordova-plugin-idfa/issues</issue>

    <js-module src="www/AndroidIDFA.js" name="AndroidIDFA">
        <!--<clobbers target="AndroidIDFA" />-->
        <merges target="AndroidIDFA" />
        <merges target="cordova.plugins.AndroidIDFA" />
    </js-module>

    <!-- android-specific elements -->
    <platform name="android">
        <source-file src="src/android/AndroidIDFA.java" target-dir="src/com/praves/cordova/idfa" />
        <source-file src="src/android/CoreException.java" target-dir="src/com/praves/cordova/idfa" />
        <source-file src="src/android/AdvertisingIdClient.java" target-dir="src/com/praves/cordova/idfa" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidIDFA">
                <param name="android-package" value="com.praves.cordova.android.idfa.AndroidIDFA" />
            </feature>
        </config-file>
        <framework src="com.google.android.gms:play-services-ads:+" />
    </platform>

    <!-- ios-specific elements -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
        <feature name="AndroidIDFA">
            <param name="ios-package" value="AndroidIDFA"/>
        </feature>
        </config-file>
        <framework src="AdSupport.framework" weak="true" />
        <header-file src="src/ios/AndroidIDFA.h" />
        <source-file src="src/ios/AndroidIDFA.m" />
    </platform>
</plugin>
